body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
p {
  color:green;
	font-size: 24px;
	font-family: Calibri;
	color: DeepSkyBlue;
}
.container {
	font-family: Copperplate; Calibri;
	color: rbg(001,100,034);
}
.header {
	font-size:44px;
	font-family: Calibri;
	color: AntiqueWhite;
}

