body {
	font-family: Copperplate, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
p {
	color: black;
}
ul {
	padding: 0;
	margin: 0;
	color: blue;
}
header {
	font-family= Lucida; Calibri;
}
